* {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

body {
  h2 {
    font-size: 15px;
    color: #130909;
  }
}
.planetTitle {
  margin: 0px;
  padding-top: 1.8em;
  text-align: left;
  padding-left: 0.4em;
  font-size: 0.8em;
}
#wrapper {
  opacity: 0;
  display: table;
  height: 100%;
  width: 100%;
  &.loaded {
    opacity: 1;
    transition: 2.5s ease-in-out;
  }
  #content {
    display: table-cell;
    vertical-align: middle;
  }
}

#card {
  height: 400px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  perspective: 600px;
  #front {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  #front {
    overflow: hidden;
    z-index: 1;
    #top-pic {
      height: 30%;
      width: 100%;
      background-image: url(https://www.newsclick.in/sites/default/files/2019-05/Facts-About-The-Moon-Featured-Image.jpg);
      background-size: cover;
    }
    #info-box {
      height: 70%;
      width: 100%;
      display: table;
      left: 0;
      bottom: 0;
      background: rgba(252, 252, 252, 0.212);
      padding: 50px;
    }
  }
  .info {
    display: table-cell;
    height: 100%;
    text-align: left;
    .infoValue {
      color: #bbbbbb;
      display: inline;
    }
  }
}
